<html>
    <title>
        Poker
    </title>
    <head>
        <link rel="stylesheet" type="text/css" href="css/Poker.css">
    </head>
    
    <body>
        <div id="numofplayers" style="display: none">
            <form>
                <p>Include Yourself in the Human Player Count</p>
                Human Players: <input type="text" id="humanplayers"><br>
                AI Players: <input type="text" id="aiplayers"><br>
                <input type="submit" id="joinGame" value="Join Game">
            </form>
        </div>
        <div id= "gameoptions" style="display: none">
            <p>Waiting for Users to Join</p>>
        </div>
        <div id="displayAIMenu" style="display: none">
            <form>
                <label>Enter AI Strategy (strat1 or strat2)</label><br>
                AI Player 1: <input type="text" id="ai1strat"><br>
                AI Player 2: <input type="text" id="ai2strat"><br>
                AI Player 3: <input type="text" id="ai3strat"><br>
                <input type="submit" id="enterGame" value="Enter Game">
            </form>
        </div>
        <div id="fullgame" style = "display: none">
            <label>MAX PLAYERS REACHED </label>
        </div>
        <div id="startgameboard" style = "display: none">
            <p>GAME BOARD LELELELELEL</p>
        </div>
        <script src="scripts/jquery-2.1.4.min.js" type= "text/javascript"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="scripts/client.js" type="text/javascript"></script>
    </body>
</html>